<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maieutic</title>
    <link rel="stylesheet" href="/css/feedback.css">
</head>
<body>
    <h1>Feedback on Conversation</h1>
    <div class="feedback">
        <p><strong>Feedback:</strong></p>
        <p><%= feedback %></p>
    </div>
    <div class="backBtn">
        <a href="/bot">Go back to Chat</a>
    </div>
</body>
</html>
